<div class="wrap">
  <a (click)="emitEvent($event)"><img src="../../../assets/icons/btn-delete.png" alt=""></a>
  <img class="img-fluid" *ngIf="thumbnail" [src]="(thumbnail) ? thumbnail.path + '.' + thumbnail.extension : ''">
  <h4 [innerHTML]="name"></h4>
</div>
