.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 18em;
  max-width: 18em;
  text-align: center;
  position: relative;
  margin-bottom: 20px;

  img {
    //                max-height: 300px;
    margin: 0 auto;
  }

  h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
  }

  a {
    position: absolute;
    top: -10px;
    right: -10px;
  }
}
