nav {
    background-color: #2d2727;
    height: 70px;
    // text-transform: uppercase;
    // font-weight: 500;
    // letter-spacing: 1px;
    .navbar-brand {
        position: absolute;
        img {
            width: 100px;
        }
    }
    .navbar-nav {
        // margin-right: 50%;
    }
    .stylish-input-group {
        max-width: 50%;
        margin: 0 auto;
        input {
            border-radius: 0px;
            height: 45px;
            display: block;
            margin: 0 auto;
        }
    }
    .stylish-input-group .input-group-addon {
        background: white !important;
        border-radius: 0px !important;
    }
    .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
    }
    .stylish-input-group button {
        border: 0;
        background: transparent;
        font-size: 18px;
        font-weight: 400;
        img {
            width: 25px;
        }
    }
}