<nav class="navbar navbar-expand-md navbar-dark bg-nav fixed-top">
  <a class="navbar-brand" routerLink="hero"><img src="../../../../assets/icons/logo.png" alt=""></a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  <!-- <div class="collapse navbar-collapse" id="navbarsExampleDefault"> -->
    <!-- <ul class="navbar-nav mr-auto"> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Home <span class="sr-only">(current)</span></a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="hero" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Heroes</a>
      </li> -->
    <!-- </ul> -->
  <!-- </div> -->
  <div  class="input-group stylish-input-group">
  <input type="text" class="form-control" [(ngModel)]="searchText" (ngModelChange)="onSearchChange($event)" placeholder="Search character...">
  <span class="input-group-addon">
    <button type="submit">
      <img src="../../../../assets/icons/search.png" alt="">
    </button>
  </span>
  </div>
</nav>
