<ng4-loading-spinner></ng4-loading-spinner>
<div class="background-container">
  <app-navbar [searchText]="searchText" (change)="search($event)"></app-navbar>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
