<div class="box-character">
  <div class="container">
    <div class="row">
      <div class="col-md-4 flex-item-1">
        <img *ngIf="thumbnail" [src]="(thumbnail) ? thumbnail.path + '.' + thumbnail.extension : ''">
      </div>
      <div class="col-md-8 flex-item-2">
        <h4 [innerHTML]="name | truncate: 21"></h4>
        <p [innerHTML]="(description) ? (description | truncate:150) : 'This character does not contain description'"></p>
        <a href="" class="btn btn-danger">View more</a>
      </div>
    </div>

    <div class="row flex-item-3">
      <div class="col-md-12">
        <h5>Related comics</h5>
      </div>
      <div class="col-md-6" *ngFor="let comic of (comics.items | slice:comics.items.length - 4); let i = index;">
        <a [attr.data-index]="i" (click)="emitEvent(comic.resourceURI)" *ngIf="comics.items"><span>{{comic.name | truncate : 28}}</span></a>
      </div>
      <div *ngIf="comics.items.length < 1" class="col-md-12">
        <p>Not related comics for this character</p>
      </div>

    </div>
  </div>
</div>
