@import '~app/app.component';

.box-character {
  background: white;
  margin-bottom: 30px;
  padding-bottom: 20px;
  min-height: 310px;
  .btn {
    pointer-events: none;
    cursor: default;

  }
  h5 {
    color: $gray;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .flex-item-1 {
    img {
      width: 150px;
      height: 150px;
      position: absolute;
      left: -10px;
      top: -10px;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: 0.3s ease-out;
    }
  }

  .flex-item-2 {
    padding: 20px;

    h4 {
      opacity: 0.9;
      transition: 0.3s ease-out;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      position: absolute;
      top: -10px;
      font-size: 18px;
    }

    p {
      color: $gray;
      text-align: justify;
      align-items: flex-start;
      flex-grow: 1;
      min-height: 110px;
    }

    a {
      margin-top: auto;
      background-color: $red;
      border-color: $red;
      border-radius: 0;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 1px;
    }
  }

  .flex-item-3 {
    a {
      color: $gray;
      font-size: 14px;
      transition: all 0.5s;
      margin-bottom: 10px;
      cursor: pointer;

      span {
        display: inline-block;
        position: relative;
        transition: 0.5s;

        &:after {
          content: '\2192';
          position: absolute;
          opacity: 0;
          top: 0;
          left: -5px;
          transition: 0.5s;
        }
      }

      &:hover {
        span {
          padding-left: 20px;
          color: $red;
        }
      }

      &:hover span:after {
        opacity: 1;
        left: 0;
        color: $red;
      }
    }

    p {
      color: $gray;
      font-size: 14px;
    }
  }

  &:hover {
    .flex-item-1 img {
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
      transition: 0.3s ease-in;
    }

    h4 {
      transition: 0.3s ease-in;
      color: $red;
      opacity: 1;
    }
  }
}
