@import '~app/app.component';

.modal-content {
  position: relative;
  background-color: white;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0;
  border-radius: 0;
  outline: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-body {
  padding: 40px;

  h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 26px;
  }

  p {
    color: $gray;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
  }

  a {
    color: #000;

    &:hover {
      text-decoration: none;
    }
  }
}

.modal-header {
  padding: 5px;
  border-bottom: 0;
  float: right;

  img {
    cursor: pointer;
    z-index: 1;
  }
}

.modal-footer {
  padding: 0;
  border-top: 0;
  text-transform: uppercase;

  a {
    border-radius: 0;
    width: 100%;
    font-size: 18px;
    font-weight: 800;
    color: #3c3432;

    img {
      margin-right: 5px;
    }
  }

  .btn {
    line-height: 3.5;
    margin: 0;
  }

  .add-fav {
    background: #f0f0f0;
    color: #3c3432 !important;
  }
  .style1 {
    background: #2d2727;
    color: $red !important;
    pointer-events: none;
    cursor: default;
    opacity: 0.7;

  }

  .buy {
    background: #dcdcdc;
    color: $red;
    pointer-events: none;
    cursor: default;
  }
}
