<div class="modal-header">
  <img src="../../../assets/icons/btn-close.png" (click)="activeModal.close('Close click')">
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-6 ">
      <img class="img-fluid" [src]="comic[0].thumbnail.path + '.' + comic[0].thumbnail.extension" alt="">
    </div>
    <div class="col-md-8 col-sm-8 col-xs-6">
      <h1 [innerHTML]="comic[0].title"></h1>
      <p [innerHTML]="(comic[0].description) ? comic[0].description : 'This comic does not contain description'"></p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a [ngClass]="{'style1': verify, 'add-fav': !verify}" (click)="testclick(comic[0])" class="btn ">
    <img src="{{(verify) ? '../../../assets/icons/btn-favourites-primary.png' : '../../../assets/icons/btn-favourites-default.png'}}" alt="">
    ADD TO FAVOURITES
  </a>
  <a href="" class="btn buy"><img src="../../../assets/icons/shopping-cart-primary.png" alt="">BUY FOR $ {{comic[0].prices[0].price}}</a>
</div>
