<h1 class="text-center">Marvel SPA</h1>
<p class="text-center">with Angular 5 + Bootstrap 4, Lazy Loading, GitLab CI</p>
<h2 class="text-center">Luis Alvarez 
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAIA_wDGAAAAAQAAAAAAAAs7AAAAJGJjYmNhOTdmLTAzNmItNDlmMi04OWRiLTU1NGYxNDg0MjE4Yg.jpg"
    alt=""></h2>
<h3 class="text-center">Front end Developer</h3>

<p class="lead">This project was generated with <a href="https://github.com/angular/angular-cli">Angular CLI</a> version 1.5.4. This is a little web
app with Angular 5, component oriented, this application has been modularized in components for its abstraction and reuse,
considering the style guide provided by the angular documentation <a href="https://angular.io/guide/styleguide#style-01-01">Style 01-01</a></p>
<p class="lead">The application programming interface used was the provided by <a href="https://developer.marvel.com/">Marvel</a>, this way you get
the data and manipulate it in the different sections of this simple page application (SPA).</p>
<p class="lead">Within the application you will be able to see the comics related to each one of the Marvel characters and save your favorites, these are stored within your
browser's local storage and you can delete it when you want. You also have a search field to be able to search for your character.</p>
<p class="lead">I hope you enjoy this small app</p>

