/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import './app/app.component';

body {
  padding-top: 65px;
  background: $bg;
}

body.modal-open .background-container {
  -webkit-filter: blur(10px);
  /* Safari */
  filter: blur(10px);
}

.modal-backdrop.show {
  opacity: 0.7;
}
