@import '~app/app.component';

h3 {
  text-align: left;
  font-weight: bold;
  display: inline-flex;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wish-list {
  background: $bgLateral;
  height: 100%;

  h3 {
    text-align: left;
    font-weight: bold;
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    img {
      width: 30px;
      margin-right: 10px;
    }
  }
}
