<!-- <div class="container"> -->
<div class="row">
  <div class="col-md-9">
    <div class="container-fluid no-padding">
      <h3><img [src]="iconCharacter" alt="">{{title}}</h3>
      <div class="row">
        <custom-list [@characters]="characters.length" class="col-md-6" *ngFor="let character of characters | filter : searchText; let i = index;" [name]="character.name" [description]="character.description" [thumbnail]="character.thumbnail" [comics]="character.comics" (comic)="getInfoComic($event)">
        </custom-list>
      </div>
    </div>
  </div>
  <div class="col-md-3 no-padding">
    <div class="wish-list">
      <div class="container">
        <div class="row">
          <h3><img [src]="iconFavourites" alt="">My Favourites</h3>
          <div class="col-md-12">
            <wish-list *ngFor="let favourite of globalService.fav; let i = index;" [name]="favourite.title" [thumbnail]="favourite.thumbnail" (deletecomic)="deleteFavourite(globalService.fav, favourite.id, i)"></wish-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
